.info2{
    text-align: center;
}

.info2 .create_time{
    margin-left: 20px;
}

.body3{
    width: 500px;
}

.button{
    text-align: right;
}

.body4{
    list-style: none;
}

.body4 .avater{
    width: 40px;
    height: 40px;
}

ul{
    padding: 0;
}

.avater-group .author{
    padding-left: 15px;
}

.body4 .content{
    margin-left: 60px;
}